.navbar-burger, .menu {
    display: none;
}
@media(max-width: 800px) {
    div.header div.logo {
        position: static;
        width: 25%;
        margin: 0 auto;
        padding-top: 5vh;
    }
    div#menu {
        width: max-content;
        position: static;
        margin: 0 auto;
        margin-top: 3.5vh;
    }
    div#menu ul li a {
        font-size: 2.4vw;
    }
    div#menu ul li:nth-last-child(n+2) {
        padding-right: 10px;
    }
    div.Iam {
        position: relative;
        top: 18%;
    }
    div.Iam h1, div.Iam h2 {
        font-size: 5vw;
        backdrop-filter: blur(1px) saturate(100%);
    }

    /* ABOUT */
    div.about-first {
        height: max-content;
    }
    div.about-first h3.about {
        font-size: 35px;
    }
    div.img-text {
        width: 90%;
    }
    div.pp {
        display: inline-block;
        width: 158px;
        height: 210px;
        position: relative;
        left: 10vw;
        top: -5vw;
    }
    div.about-text {
        display: inline-block;
        width: 45%;
        position: relative;
        left: 20%;
        top: 0px;
        padding-bottom: 20px;
    }
    div.about-text p {
        width: 100%;  
        font-size: 16px;
        color: #7e7e7e;
        margin: 0 auto;
        line-height: 20px;
        text-align: center;
    }
    div.img-text {
        width: 100%;
        height: max-content;
        margin: 0;
    }


    /* CONTACT */
    div.contact {
        width: 90%;
    }
    div.social-media-icon a:nth-last-child(n + 2) {
        margin-right: 60px;   
    }
    div.social-media-icon a {
        font-size: 24px;
    }
    
    div.send-message {
        width: 90%;
        height: 178.85px;
    }
    div.send-message form div:nth-last-child(n+4) {
        display: inline-block;
        padding: 0px 10px 28px;
        width: 49%;
    }
    div.send-message form div.phone {
        display: inline-block;
        width: 33%;
        position: relative;
        top: -15px;
        padding-left: 10px;
    }
    div.send-message  div.message {
        display: inline-block;
        width: 64%;
    }
    div.send-message div.submit {
        display: block;
        margin: 0;
        position: relative;
        right: 0;
    }
    div.submit input {
        font-size: 15px;
    }
}

/* width <= 500px */
@media(max-width: 500px) {
    div#menu ul {
        display: none;
    }
    div.header {
        height: 45vh;
        min-height: 200px;
    }
    div.header div.logo {
        width: 25%;
        height: 35px;
        position: absolute;
        top: 50px;
        left: 30px;
        margin: 0 0;
        padding: 0;
    }
    div.logo img {
        width: 100%;
        height: 100%;
    }
    div#menu { 
        display: inline-block;
        width: 35px;
        height: 35px;
        margin: 0;
        position: absolute;
        top: 50px;
        right: 5%;
    }
    div.Iam {
        position: relative;
        top: 120px;
    }

    /* ABOUT */
    div.about-text {
        display: none;
    }
    div.about-first {
        height: max-content;
    }
    div.about-first h3.about {
        font-size: 8vw;
    }
    div.img-text {
        width: 90%;
    }
    div.pp {
        display: inline-block;
        width: 20%;
        height: 20%;
        position: relative;
        left: 10vw;
        top: 4vw !important;
        
    }
    div.about-text2 {
        display: inline-block;
        width: 45%;
        position: relative;
        right: -25%;
        top: 0px;
        padding-bottom: 20px;
    }
    div.about-text2 p {
        width: 100%;  
        font-size: 4vw;
        color: #7e7e7e;
        margin: 0 auto;
        line-height: 4vw;
        text-align: center;
    }
    div.img-text {
        width: 100%;
        height: max-content;
        margin: 0;
    }

    div.all-skills {
        height: max-content;
    }
    div.left-side-5-skills, div.right-side-5-skills {
        width: 100%;
        height: 100%;
        float: none;
    }
    div.percentage-written {
        float: right;
    }


    /* CONTACT */
    div#contact {
        height: max-content;
        padding-bottom: 10px;
    }
    div.contact h3 {
        font-size: 10vw;
    }
    div.send-message {
        height: max-content;
    }
    div.send-message form {
        width: 100%;
        height: 100%;
    }
    div#contact div.send-message div {
        display: block;
        width: 100%;
        height: 30px;

        padding: 0 10px 50px;
        position: static;
    }
    div.submit {
        display: block;
        position: static;
        margin-top: 0; 
    }
    div#contact div.send-message div input{
        width: 100% !important;
        height: 30px;
    }
    textarea {
        padding: 0;
    }
    
    div.social-media-icon a:nth-last-child(n + 2) {
        margin-right: 10vw;
    }
    div.social-media-icon a {
        font-size: 16px;
    }

    a#toTop {
        position: fixed;
        bottom: 10px;
        right: 5px;
    }
    a#toTop img {
        width: 35px;
        height: 35px;
    }

    /* navbar */
    button {
        border: 0;
        padding: 0;
        background: transparent;
        cursor: pointer;
      }
      
      
    .navbar-burger, .menu {
        display: initial;
        position: fixed;
    }
      

      
    button {
        font-size: 28px;
    }
      
      
    .navbar-burger {
        z-index: 3;
        top: 45px;
        right: 5px;
        width: 35px;
        height: 35px;
        background-image: url("../pictures/menu.png");
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        color: red;
    }
      
      body.open .navbar-burger {
        background-image: url("../pictures/close.png");
        background-size: 25px;
      }
      .menu {
        z-index: 2;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
      }
      
      body.open .menu {
        opacity: 1;
        visibility: visible;
      }
      
      .menu > a {
        color: #f9f9f9;
        font-size: 32px;
        font-family: "Euclid Circular A";
        text-decoration: none;
      }
      
      body.open .menu > a {
        animation: appear 0.3s both;
      }
      
      @keyframes appear {
        0% {
          opacity: 0;
          translate: 0 50px;
        }
        100% {
          opacity: 1;
        }
      }

      h3.gallery-header {
            font-size: 10vw !important;
      }
}